.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #F2F2F2;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 100px 1fr;
}

.graphic {
  background-color: #C49BBB;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  background-color: #713E5A;
  color: #FF985C;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title h1 {
  font-family: 'Lobster Two', cursive;
  font-size: 4em;
}

.selector {
  background-color: #ABC4AB;
}

.selector-head {
  margin: 0;
  padding: 40px 0;
  font-size: 1.5em;
  font-weight: lighter;
}

.result {
  margin: 20px 30%;
  border: dotted 8px #713E5A;
  animation: result-anim 9s infinite;
  font-size: 1.2em;
}

@keyframes result-anim {
  25% {border-color: #C49BBB;}
  50% {border-color: #FF985C;}
  75% {border-color: #0F4C5C;}
  100%   {border-color: #713E5A;}
}

.bandname {
  padding: 0;
  text-transform: capitalize;
  color: #713E5A;
}

button {
  background-color: #0F4C5C;
  color: #F2F2F2;
  width: 160px;
  height: 50px;
  border: 0;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
